* {
    box-sizing: border-box;
    text-decoration: 0;
    list-style: none;
}

body {
    font-family: Segoe UI, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: #555;
    margin-bottom: 0;
    /* background-color: rgb(65, 148, 225); */
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding: 0 20px;
    background-color: rgba( 64, 144, 172, 0.65);
    color: white;
}

.navbar .menu>*,
.navbar .actions>* {
    display: inline-block;
    padding: 8px;
    border-radius: 2px;
    margin: 0px 4px;
    /* margin-right: 4px; */
    background-color: rgba( 64, 144, 172, 1);
}

.navbar .pointer:hover {
    opacity: 0.7;
}

.navbar>* {
    /* border: 2px solid black; */
    width: 300px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar .menu-input {
    padding: 0;
}

.navbar .menu-input input {
    width: 120px;
    padding: 4px 0.5em;
    border: none;
    border-radius: 2px;
    background-color: rgba( 64, 144, 172, 1);
    color: black;
    font-size: 1.15em;
    outline: none;
    line-height: 1.4;
}

.navbar .menu-input input:focus {
    background-color: white;
}

.head {
    font-family: "Comic Sans", "Comic Sans MS", cursive;
    font-size: 1.4em;
    justify-content: space-around;
    /* border: 1px solid red; */
}

.start {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: rgba( 128, 128, 128, 0.3);
    color: white;
    align-items: center;
    padding: 0 20px;
}

.navbar .actions {
    justify-content: flex-end;
}

.board-container {
    display: flex;
    height: 100vh;
    overflow-y: hidden;
    /* border: 1px black solid; */
}

.board-menu {
    position: fixed;
    top: 50px;
    right: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0 20px;
    color: black;
    background-color: rgba( 128, 128, 128, 0.3);
    /* border: 1px solid rgb(238, 155, 0); */
}

.board {
    /* border: 1px solid blue; */
    display: flex;
    margin-top: 20px;
    padding: 84px 20px 20px;
    flex-basis: 100%;
    /* flex-wrap: nowrap; */
    overflow: auto;
}

.task-list-wrapper {
    /* border: 1px solid purple; */
    flex-shrink: 0;
    flex-basis: 240px;
    max-height: 100%;
    /* overflow: hidden; */
}

.task-list {
    /* border: 1px solid yellow; */
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    background-color: rgba( 240, 240, 240, 0.9);
}

.task-list-title-container {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-list-title {
    /* border: 1px solid black; */
    margin: 4px;
    font-weight: bold;
}

.task-list-more {
    /* border: 1px solid green; */
    margin: 0 4px;
}

.task {
    padding: 10px;
    margin: 10px 0;
    background-color: white;
}

.task-edit {
    float: right;
    display: none;
}

.task:hover .task-edit {
    display: inline;
}

.add-card-message {
    /* border: 1px solid blue; */
    margin-bottom: 4px;
}

.task-list .task,
.task-list input,
.task-list textarea,
.task-list button {
    border-radius: 4px;
}

textarea {
    border: none;
    padding: 10px;
    resize: none;
    width: 100%;
    /* border: 1px solid lightgray; */
    font-size: 1em;
}

.full-width-input {
    display: block;
    outline: none;
}

.add-card-form-actions,
.add-list-form-actions {
    margin-top: 10px;
    /* border: tomato 1px solid; */
}

.add-card-button,
.add-list-button {
    /* border: black 1px solid; */
    background-color: olive;
    padding: 10px;
    color: white;
    margin-right: 10px;
    border: none;
    font-size: 1.2em;
    text-align: center;
}

.btn-inline {
    display: inline-block;
    width: auto;
}

.add-card-cancel,
.add-list-cancel {
    position: relative;
    top: 3px;
}

.pointer {
    cursor: pointer !important;
}

.pointer:hover {
    opacity: 0.7;
}


/* .pointer:active {
        outline: none;
    } */